<div class="main-container">
  <div>
    
    <!-- imagen logo circular -->
    <div align="center"><img src="https://imagizer.imageshack.com/v2/500x500q90/r/922/1vhQui.png" width="100"
      height="100"></div>
    <!-- Imagen nombre --> 
    <div align="center"><img src="https://imagizer.imageshack.com/img924/6172/D9KaHj.gif" width="1300"
        height="130"></div>
    
    <hr style="border:15px;"><hr style="border:2px;">


    <!-- Imagen tu pedido --> 
    <div align="center"><img src="https://imagizer.imageshack.com/img924/752/29KEnR.png" width="900 "
        height="130"></div>

        
  </div>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="filters-wrapper">
          <app-url-form (urlChange)='onURLChange($event)'></app-url-form>
          <app-cart></app-cart>
          <app-filters #filtersComponent [categories]='originalData.categories' [customFilters]='customFilters' [priceFilters]='priceFilters' (filterChange)='onFilterChange($event)'></app-filters>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-8">
            <div class="sort-filters-wrapper">
              <app-sort-filters [filters]='sortFilters' (sortChange)='sortProducts($event)'></app-sort-filters>
            </div>
          </div>
          <div class="col-4">
            <app-search-bar #searchComponent (searchChange)='onSearchChange($event)'></app-search-bar>
          </div>
        </div>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-showcase [products]='products'></app-showcase>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
