/* You can add global styles to this file, and also import other style files */
@import "./app/shared/grid";
@import "./app/shared/colors";
$font-family: 'Roboto', Helvetica, sans-serif;

html, body {
  font-family: $font-family;
  color: #0e0303;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  background-color: #e7e7e7;
  
  }
  



input, textarea, button {
  font-family: inherit;
  font-size: 1em;
}

input:not([type=checkbox]):not([type=radio]), textarea {
  -webkit-appearance: none !important;
}

* {
  outline: none;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: -1px;
  text-overflow: '';
}

button {
  cursor: pointer;
}

nav{
  color:goldenrod;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  background-color: #e7e7e7;

}

.page-footer {
  background: #e0e0e0;
  margin: 0 0 1rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E9B21C;
  padding: .2rem;
  /* align-items por defecto tiene el valor `stretch` */
  align-items: start;
}


//MENU
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.navbar-inner {
  position: relative;
  height: 100px;
  margin: 3px;
  /*display: -ms-flexbox;*/
  /* display: -webkit-flex; */
  display: flex;
  /* -webkit-flex-direction: row; */
  /*-ms-flex-direction: row;*/
  /* flex-direction: row; */
  /* -webkit-flex-wrap: nowrap; */
  /*-ms-flex-wrap: nowrap;*/
  /* flex-wrap: nowrap; */
  /* -webkit-align-items: center; */
  /*-ms-flex-align: center;*/
  align-items: center;
  /* -webkit-justify-content: center; */
  /*-ms-flex-pack: center;*/
  /* justify-content: center; */
  /* padding: 28px 15px; */
}



ul.nav {
  width: 100%;
  text-align: center;
  list-style: none;
}

ul.nav li {
  position: relative;
  display: inline-block;
}

ul.nav li + li {
  margin-left: 50px;
}

ul.nav li:nth-child(6) {
    margin-left: 2700px;
}

/* Selecciona cualquier elemento <a> cuando está "mantenido (hovered)" */
ul.nav li a:hover {
  color: orange;
}

ul.nav li a{
  background-color: #e7e7e7;
  transition: background-color .5s;
}

ul.nav li a:link {text-decoration: none }
ul.nav li a:visited {color: orange;  font-family: arial; text-decoration: none }
*{outline:none !important;}*:focus {outline: none !important;}textarea:focus, input:focus{outline: none !important;}	a{text-decoration: none !important;outline: none !important;}


.footerContainer{
text-align: center;


}